<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/indexStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dnd.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/library.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/admin_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dropzone.min.css') }}">
    <script src="{{ url_for('static', path='js/dropzone.min.js')}}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', path='img/star.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function scrollToElement() {
            const element = document.getElementById('news-scroll');
            element.scrollIntoView({ behavior: 'smooth' });
        }

        function openModal() {
            const element = document.getElementById('loginModal');
            element.classList.add('show');
        }

        function closeModal() {
            const element = document.getElementById('loginModal');
            element.classList.remove('show');
        }

        window.onclick = function(event) {
            const element = document.getElementById('loginModal')
            if (event.target == element) {
                element.classList.remove('show');
            }
        }

        // function addNews() {
        //     const element = document.getElementById('addNews');
        //     element.style.display = "block";
        // }

        // function addNews() {
        //     const add_news = document.getElementById('addNews');
        //     const delete_news = document.getElementById('deleteNews');
        //     const change_news = document.getElementById('changeNews');
        //     add_news.classList.add('visible');
        //     delete_news.classList.remove('visible');
        //     change_news.classList.remove('visible');
        // }
        //
        // function deleteNews() {
        //     const add_news = document.getElementById('addNews');
        //     const delete_news = document.getElementById('deleteNews');
        //     const change_news = document.getElementById('changeNews');
        //     add_news.classList.remove('visible');
        //     delete_news.classList.add('visible');
        //     change_news.classList.remove('visible');
        // }
        //
        // function changeNews() {
        //     const add_news = document.getElementById('addNews');
        //     const delete_news = document.getElementById('deleteNews');
        //     const change_news = document.getElementById('changeNews');
        //     add_news.classList.remove('visible');
        //     delete_news.classList.remove('visible');
        //     change_news.classList.add('visible');
        // }

        function toggleVisibility(visibleElementId) {
            const ids = ['addNews', 'deleteNews', 'changeNews'];

            ids.forEach(id => {
                const element = document.getElementById(id);
                if (id === visibleElementId) {
                    element.classList.add('visible');
                } else {
                    element.classList.remove('visible');
                }
            });
        }

        function toggleVisibilityTeacher(visibleElementId) {
            const ids = ['addTeacher', 'deleteTeacher', 'changeTeacher'];

            ids.forEach(id => {
                const element = document.getElementById(id);
                if (id === visibleElementId) {
                    element.classList.add('visible');
                } else {
                    element.classList.remove('visible');
                }
            });
        }

        function toggleVisibilityRoles(visibleElementId) {
            const ids = ['changeRoles'];

            ids.forEach(id => {
                const element = document.getElementById(id);
                if (id === visibleElementId) {
                    element.classList.add('visible');
                } else {
                    element.classList.remove('visible');
                }
            });
        }

    </script>
</head>
<body>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="{{ url_for('static', path='img/img.png') }}" alt="Logo" class="navbar-logo">
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 60px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link underline-link" href="/">Главная</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline-link" href="/prepods">Преподаватели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline-link" onclick="scrollToElement()" style="cursor: pointer;">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline-link" href="/lib">Библиотека</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-right: 20px;">
                    <button type="button" class="btn btn-custom rounded-pill" id="loginButton" onclick="openModal()">Войти</button>
                </li>
            </ul>
        </div>

        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <div class="modal-header">Войти с помощью</div>
                <div class="modal-img">
                    <a href="/auth">
                        <img src="images/git.png" />
                    </a>
                </div>
                <form>
                    <label for="username">Имя пользователя</label><br>
                    <input type="text" id="username" name="username"><br><br>
                    <label for="password">Пароль</label><br>
                    <input type="password" id="password" name="password"><br><br>
                    <input type="submit" value="Войти" class="btn-enter">
                </form>
            </div>
        </div>
    </nav>
</header>

<hr />
<div class="head">
    <h1 style="text-align: center;">Панель управления</h1>
</div>

<div class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Новости</h2>
        </div>
        <div class="ad-body">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="toggleVisibility('addNews')">Добавить новость</button>
            <button type="button" class="btn btn-outline-danger btn-lg" onclick="toggleVisibility('deleteNews')">Удалить новость</button>
            <button type="button" class="btn btn-outline-dark btn-lg" onclick="toggleVisibility('changeNews')">Изменить новость</button>
        </div>
        <div class="form-news" id="addNews">
            <form action="/create-post" method="post" style="margin-bottom: 40px;" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputEmail4">Заголовок новости</label>
                    <input type="text" class="form-control" id="inputEmail4" name="title" required>
                </div>
                <div class="form-group">
                    <label for="inputState">Жанр новости</label>
                    <select id="inputState" class="form-control" name="genre">
                        <option style="color: red;">Важное</option>
                        <option style="color: blue;">Мероприятие</option>
                        <option style="color: green;">Дата</option>
                        <option style="color: grey;">Обычное</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Изображение</label>
                    <input type="file" class="form-control-file" id="inputAddress" name="foto" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea2">Описание новости</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="10" name="description" required></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Добавить новость</button>
                </div>
            </form>
        </div>
        <div class="form-news" id="deleteNews">
            <form style="margin-bottom: 40px;" action="/delete-post/" method="delete">
                <div class="form-group">
                    <label for="inputState1">Выберите новость для удаления</label>
                    <select id="inputState1" class="form-control" name="title">
                        {% for title in news %}
                        <option>{{ title.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Удалить новость</button>
                </div>
            </form>
        </div>

        <div class="form-news" id="changeNews">
            <form style="margin-bottom: 40px;" action="/update-news" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputState3">Выберите новость для изменения</label>
                    <select id="inputState3" class="form-control" name="id">
                        {% for title in news %}
                        <option>{{ title.id }}</option>
                        {% endfor %}                    
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputEmail7">Заголовок новости</label>
                    <input type="text" class="form-control" id="inputEmail7" name="title">
                </div>
                <div class="form-group">
                    <label for="inputState5">Специализация новости</label>
                    <select id="inputState5" class="form-control" name="genre">
                        <option style="color: red;">Важное</option>
                        <option style="color: blue;">Мероприятие</option>
                        <option style="color: green;">Дата</option>
                        <option style="color: grey;">Обычное</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress5">Изображение</label>
                    <input type="file" class="form-control-file" id="inputAddress5" name="foto">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea2">Описание новости</label>
                    <textarea class="form-control" id="exampleFormControlTextarea6" rows="10" name="description"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Изменить новость</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Преподаватели</h2>
        </div>
        <div class="ad-body">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="toggleVisibilityTeacher('addTeacher')">Добавить преподавателя</button>
            <button type="button" class="btn btn-outline-danger btn-lg" onclick="toggleVisibilityTeacher('deleteTeacher')">Удалить преподавателя</button>
        </div>
        <div class="form-news" id="addTeacher">
            <form style="margin-bottom: 40px;" action="/create-prepod" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputEmail4">ФИО</label>
                    <input type="text" class="form-control" id="inputEmail9" name="title">
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Описание</label>
                    <input type="text" class="form-control" id="inputEmail10" name="description">
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Должность</label>
                    <input type="text" class="form-control" id="inputEmail10" name="rank">
                </div>
                <div class="form-group">
                    <label for="inputAddress4">Фотография</label>
                    <input type="file" class="form-control-file" id="inputAddress4" name="foto">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Добавить сотрудника</button>
                </div>
            </form>
        </div>
        <div class="form-news" id="deleteTeacher">
            <form style="margin-bottom: 40px;" action="/delete-prepod" method="post">
                <div class="form-group">
                    <label for="inputState6">Преподаватель</label>
                    <select id="inputState6" class="form-control" name="fio">
                        {% for people in peoples %}
                        <option>{{ people.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Удалить сотрудника</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="admin-panel">
    <div class="column container-fluid">
        <div class="ad-head">
            <h2>Библиотека</h2>
        </div>
            <form action="/lib/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputEmail7">Описание документа</label>
                    <input type="text" class="form-control" id="inputEmail7" name="annotation">
                </div>
                <div class="form-group">
                    <label for="inputState5">Специализация документа</label>
                    <select id="inputState5" class="form-control" name="tag">
                        <option style="color: red;">Книга</option>
                        <option style="color: blue;">Статья</option>
                        <option style="color: green;">Научная работа</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress4">Документ</label>
                    <input type="file" class="form-control-file" id="inputAddress4" name="upload_file">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Добавить документ</button>
                </div>
            </form>
        <div style="margin-bottom: 20px;">
            <!-- <div id="drop-zone">
                Перетащите файлы сюда или <label for="file-input" style="color: black; cursor: black;">выберите файл</label>.
                <input type="file" id="file-input" style="display: none;">
            </div> -->
            <!-- <form method="POST" action="/lib/upload/" class="dropzone" id="my-awesome-dropzone">
            </form>

            <script>
                let myDropzone = new Dropzone("#my-awesome-dropzone", {
                paramName: 'file_upload'
                });
            </script> -->
        </div>
    </div>
    <script src="js/dnd.js"></script>
</div>

<div class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Учётные записи</h2>
        </div>
        <div class="ad-body">
            <button type="button" class="btn btn-outline-dark btn-lg" onclick="toggleVisibilityRoles('changeRoles')">Изменить роли</button>
        </div>
        <div class="form-news" id="changeRoles">
            <form style="margin-bottom: 40px;">
                <div class="form-group">
                    <label for="inputState9">Аккаунт</label>
                    <select id="inputState9" class="form-control">
                        <option selected>Выберите аккаунт...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputState10">Роль</label>
                    <select id="inputState10" class="form-control">
                        <option selected>Выберите роль...</option>
                        <option>Слушатель</option>
                        <option>Преподаватель</option>
                        <option>Администратор</option>
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-dark">Изменить роль</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</body>
</html>