.search-container {
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.2s;
}

.lib-head {
    margin-top: 40px;
    display: flex;
    justify-content: left;
}

.lib-head > h2 {
    font-family: "Raleway";
}

.eye-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url('images/eye.png');
    background-repeat: no-repeat;
    transition: background-image 0.2s;
}

.load-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url('../img/downloads.png');
    background-repeat: no-repeat;
    transition: background-image 0.2s;
}

.load-container:hover {
    background-image: url('../img/downloads-black.png');
    cursor: pointer;
}
