{% extends "layout.html" %}

{% block content %}
<meta charset="UTF-8" />
<hr>
<div class="container wrapper">
    <div class="column">
        <div class="ad-head">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="container d-flex justify-content-left" style="font-size: 20px; color: #2125298f">
            <p id="news-genre" class="news-text">
                {% if post.genre == "Важное" %}
                    <div class="news-spec" id="main">
                        {{ post.genre }}
                    </div>
                {% endif %}
                {% if post.genre == "Мероприятие" %}
                    <div class="news-spec" id="event">
                        {{ post.genre }}
                    </div>
                {% endif %}
                {% if post.genre == "Дата" %}
                    <div class="news-spec" id="date">
                        {{ post.genre }}
                    </div>
                {% endif %}
                {% if post.genre == "Обычное" %}
                    <div class="news-spec" id="common">
                        {{ post.genre }}
                    </div>
                {% endif %}
            </p>
        </div>
        <div class="d-flex justify-content-center" style="padding-top: 20px;">
            <img src="/app/static/img/news/{{ post.url_photo }}" class="img-fluid" style="box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px; border-radius: 10px;">
        </div>
        <div class="d-flex justify-content-center" style="font-size: 16px; margin-top: 35px;">
            <p class="news-text">{{ post.description }}</p>
        </div>

        <hr>

        <div id="addNews">
            <form action="/news/about/{{ post.id }}" method="post" style="margin-bottom: 40px;" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlTextarea2">Комментарий</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="4" name="text" required></textarea>
                    <input type="text" id="access-token-field" name="token" style="display: none;">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Прокомментировать</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    let tokenBtn = localStorage.getItem('token');
    document.getElementById('access-token-field').value = tokenBtn;
</script>

<div class="comment-tag">
    <h3>Комментарии</h3>
    <hr>
</div>

<div class="comment-bar">
    {% for i in comments %}
    <div class="comment-block">
        <ul>
            <li style="list-style: none;" class="li-a">
                <img id="avatar-commentator_{{ i.id }}" class="rounded-circle dropdown" style="width: 90px; height: 90px;">
            </li>
            <li style="list-style: none;" class="li-a">
                <h4 id="username-commentator_{{ i.id }}"></h4>
            </li>
            <li style="list-style: none;" class="li-a" id="li-a-btn">
                <a href="/news/about/{{ i.news_id }}/remove/{{ i.id }}">
                    <div class="btn-del">
                    
                        <img id="btn-{{ i.id }}" class="delete-button" src="/app/static/img/delete.png" style="display: none;">
                    </div>
                </a>
            </li>
        </ul>
        <h3 style="text-align: center;">{{ i.text }}</h3>
    </div>
    
    <hr>
    <script type="text/javascript">
    async function fetchAvatar() {
        
            const response = await fetch("/avatar", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "id": {{ i.owner_id }},
                },
            })
            const jsonData = await response.json();
            let url = jsonData.url;
            let username = jsonData.username;
            document.getElementById('username-commentator_{{ i.id }}').innerHTML = username;
            document.getElementById('avatar-commentator_{{ i.id }}').src = url;
    }
    fetchAvatar();
</script>
    {% endfor %}
</div>

<style type="text/css">
    .li-a {
        display: inline-block;
    }
    #li-a-btn {
        margin-left: 87vw;
    }
    .delete-button {
        height: 50px;
        width: 50px;
    
</style>
<script type="text/javascript">
    async function fetchRole() {
        const response_user = await fetch("/user", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "token": token,
            },
        })
        const jsonRoleData = await response_user.json();
        let role = jsonRoleData.role;
        console.log('ROLE = ' + role);
        if ( role == 3) {
            {% for i in comments %}
                document.getElementById('btn-{{ i.id }}').style.display = 'inline';
            {% endfor %}
        }
    }

    fetchRole();
</script>


{% endblock %}