{% extends "layout.html" %}

{% block content %}
<hr />
<div class="head">
    <h1 style="text-align: center;">Панель управления</h1>
</div>

<div id="news" class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Новости</h2>
        </div>
        <div class="ad-body">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="toggleVisibility('addNews')">Добавить новость</button>
            <button type="button" class="btn btn-outline-danger btn-lg" onclick="toggleVisibility('deleteNews')">Удалить новость</button>
            <button type="button" class="btn btn-outline-dark btn-lg" onclick="toggleVisibility('changeNews')">Изменить новость</button>
        </div>
        <div class="form-news" id="addNews">
            <form action="/create-post" method="post" style="margin-bottom: 40px;" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputEmail4">Заголовок новости</label>
                    <input type="text" class="form-control" id="inputEmail4" name="title" required>
                </div>
                <div class="form-group">
                    <label for="inputState">Жанр новости</label>
                    <select id="inputState" class="form-control" name="genre">
                        <option style="color: red;">Важное</option>
                        <option style="color: blue;">Мероприятие</option>
                        <option style="color: green;">Дата</option>
                        <option style="color: grey;">Обычное</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Изображение</label>
                    <input type="file" class="form-control-file" id="inputAddress" name="foto">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea2">Описание новости</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="10" name="description" required></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Добавить новость</button>
                </div>
            </form>
        </div>
        <div class="form-news" id="deleteNews">
            <form style="margin-bottom: 40px;" action="/delete-post/" method="delete">
                <div class="form-group">
                    <label for="inputState1">Выберите новость для удаления</label>
                    <select id="inputState1" class="form-control" name="title">
                        {% for title in news %}
                        <option>{{ title.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Удалить новость</button>
                </div>
            </form>
        </div>

        <div class="form-news" id="changeNews">
            <form style="margin-bottom: 40px;" action="/update-news" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputState3">Выберите новость для изменения</label>
                    <select id="inputState3" class="form-control" name="id">
                        {% for title in news %}
                        <option>{{ title.id }}</option>
                        {% endfor %}                    
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputEmail7">Заголовок новости</label>
                    <input type="text" class="form-control" id="inputEmail7" name="title">
                </div>
                <div class="form-group">
                    <label for="inputState5">Специализация новости</label>
                    <select id="inputState5" class="form-control" name="genre">
                        <option style="color: red;">Важное</option>
                        <option style="color: blue;">Мероприятие</option>
                        <option style="color: green;">Дата</option>
                        <option style="color: grey;">Обычное</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress5">Изображение</label>
                    <input type="file" class="form-control-file" id="inputAddress5" name="foto">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea2">Описание новости</label>
                    <textarea class="form-control" id="exampleFormControlTextarea6" rows="10" name="description"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Изменить новость</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="teach" class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Преподаватели</h2>
        </div>
        <div class="ad-body">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="toggleVisibilityTeacher('addTeacher')">Добавить преподавателя</button>
            <button type="button" class="btn btn-outline-danger btn-lg" onclick="toggleVisibilityTeacher('deleteTeacher')">Удалить преподавателя</button>
        </div>
        <div class="form-news" id="addTeacher">
            <form style="margin-bottom: 40px;" action="/create-prepod" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputEmail4">ФИО</label>
                    <input type="text" class="form-control" id="inputEmail9" name="title">
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Описание</label>
                    <input type="text" class="form-control" id="inputEmail19" name="description">
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Должность</label>
                    <input type="text" class="form-control" id="inputEmail10" name="rank">
                </div>
                <div class="form-group">
                    <label for="inputAddress4">Фотография</label>
                    <input type="file" class="form-control-file" id="inputAddress4" name="foto">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Добавить сотрудника</button>
                </div>
            </form>
        </div>
        <div class="form-news" id="deleteTeacher">
            <form style="margin-bottom: 40px;" action="/delete-prepod" method="post">
                <div class="form-group">
                    <label for="inputState6">Преподаватель</label>
                    <select id="inputState6" class="form-control" name="fio">
                        {% for people in peoples %}
                        <option>{{ people.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Удалить сотрудника</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="lib" class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Библиотека</h2>
        </div>
        <div class="ad-body">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="toggleVisibilityDocument('addDoc')">
                Добавить статью
            </button>
            <button type="button" class="btn btn-outline-danger btn-lg" onclick="toggleVisibilityDocument('deleteDoc')">
                Удалить статью
            </button>
        </div>
        <div class="form-news" id="addDoc" style="margin-bottom: 20px;">
            <form action="/lib/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputState5">Специализация документа</label>
                    <select id="inputState5" class="form-control" name="tag">
                        <option style="color: red;">Книга</option>
                        <option style="color: blue;">Статья</option>
                        <option style="color: green;">Научная работа</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress4">Документ</label>
                    <input type="file" class="form-control-file" id="inputAddress4" name="upload_file">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Добавить документ</button>
                </div>
            </form>
        </div>
        <div class="form-news" id="deleteDoc">
            <form style="margin-bottom: 40px;" action="/lib/delete" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputState32">Статья</label>
                    <select id="inputState32" class="form-control" name="name">
                        {% for i in posts %}
                        <option>{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Удалить статью</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div id="roles" class="admin-panel">
    <div class="column">
        <div class="ad-head">
            <h2>Учётные записи</h2>
        </div>
        <div class="ad-body d-flex justify-content-center">
            <button type="button" class="btn btn-outline-dark btn-lg" onclick="toggleVisibilityRoles('changeRoles')">Изменить роли</button>
        </div>
        <div class="form-news" id="changeRoles">
            <form style="margin-bottom: 40px;" action="/change-user-role" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputState9">Аккаунт</label>
                    <select id="inputState9" class="form-control" name="user_id">
                        {% for i in users %}
                        <option value="{{ i.id }}">{{ i.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputState10">Роль</label>
                    <select id="inputState10" class="form-control" name="user_role">
                        <option>user</option>
                        <option>employee</option>
                        <option>admin</option>
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Изменить роль</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
window.onclick = function(event) {
    const ids_news = ['addNews', 'deleteNews', 'changeNews'];
    const ids_teach = ['addTeacher', 'deleteTeacher', 'changeTeacher'];
    const ids_doc = ['addDoc', 'deleteDoc'];
    const ids_roles = ['changeRoles'];

    const news_block = document.getElementById('news');
    const teach_block = document.getElementById('teach');
    const lib_block = document.getElementById('lib');
    const roles_block = document.getElementById('roles');

    if (event.target == news_block) {
        ids_news.forEach(id => {
            const element = document.getElementById(id);
            element.classList.remove('visible')
        })
    }
    if (event.target == teach_block) {
        ids_teach.forEach(id => {
            const element = document.getElementById(id);
            element.classList.remove('visible')
        })
    }
    if (event.target == lib_block) {
        ids_doc.forEach(id => {
            const element = document.getElementById(id);
            element.classList.remove('visible')
        })
    }
    if (event.target == roles_block) {
        ids_roles.forEach(id => {
            const element = document.getElementById(id);
            element.classList.remove('visible')
        })
    }
}
</script>
{% endblock %}