{% extends "layout.html" %}

{% block content %}
<script src="{{ url_for('static', path='js/LibShow.js') }}"></script>
<content>
    <hr />
    <div class="head">
      <h1>Электронная библиотека</h1>
    </div>

    <div class="search-container">
      <div class="container-fluid">
      <div class="column">
        <form style="margin-bottom: 40px;" action="/lib/search" method="get">
          <div class="form-group">
            <div style="position: relative;">
              <input type="text" class="form-control col-form-label-lg" placeholder="Найти что-нибудь.." style="padding-right: 30px;" id="searchInput" name="text">
              <img src="{{ url_for('static', path='img/search.png') }}" alt="Поиск" class="search-icon">
            </div>
          </div>
        </form>
        <div class="container" style="margin-bottom: 30px; margin-top: 50px;">
          <div class="row d-flex justify-content-center">
              <a href="#" class="search-link">
                  <button class="btn btn-outline-dark btn-lg" style="border-color: #cc0b0b;">
                  Книги
                  </button>
              </a>
              <a href="#" class="search-link">
                  <button class="btn btn-outline-dark btn-lg" style="border-color: #42ac06;">
                  Статьи
                  </button>
              </a>
              <a href="#" class="search-link">
                  <button class="btn btn-outline-dark btn-lg" style="border-color: #0914bb;">
                  Научные работы
                  </button>
              </a>
          </div>
        </div>
        <table id="myTable" class="table table-striped table-hover table-sm" style="margin-top: 20px;">
          <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for document in docs %}
          <tr>
            <td><a href="/lib/show/{{ document.name }}/">{{ document.name }}</a></td>
            <td> {{ document.tag }}</td>
            <td style="color: #B7B7B7;">
              <a href="/lib/download/{{ document.name }}"><div class="load-container" style="margin-right: 5px;"></div></a>
              {{ document.size }}
            </td>
            <td style="color: #B7B7B7;">
              {{ document.modification_time[:10] }}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <button id="showPrevious" class="btn btn-outline-dark">Предыдущая страница</button>
        <span id="pageCounter">Страница 1</span>
        <button id="showNext" class="btn btn-outline-dark">Следующая страница</button>
    </div>
        </div>
    </div>
</content>
{% endblock %}