<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', path='img/star.ico') }}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <script>
        const token = localStorage.getItem('token');
        console.log("{{ user }}");
        const git_id = "{{ user.id }}";
        const git_username = "{{ user.username }}";
        const git_name = "{{ user.name }}";
        const redirect = "/link/" + token + 
                        "/" + git_id +
                        "/" + git_username +
                        "/" + git_name;
        window.location.href = redirect;
    </script>

</body>
</html>