<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div class="modal-header">Войти с помощью</div>
        <div class="modal-img">
            <a href="/auth">
                <img src="{{ url_for('static', path='img/git.png') }}" />
            </a>
        </div>
        <form method="post" action="/token">
            <label for="username">Имя пользователя</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Пароль</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Войти" class="btn-enter">
        </form>
        <form action="/link-register">
            <input type="submit" value="Зарегистрироваться" class="btn-enter">
        </form>
    </div>
</div>