{% extends "layout.html" %}

{% block content %}
<hr />

<div class="head">
<h1>Преподаватели кафедры</h1>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row">
        {% for people in prepods %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card" style="width: 18rem; height: 665px">
                <img src="/app/static/img/prepods/{{ people.avatar }}" class="card-img-left">
                <div class="teacher-spec">Сотрудник кафедры</div>
                <div class="card-body">
                    <h5 class="card-title">{{ people.title }}</h5>
                </div>
                <div class="card-body">
                    <p> {{ people.description }} </p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
