<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', path='img/star.ico') }}" type="image/x-icon">
</head>
<body>
    {% if access_token %}
    <script>
        localStorage.setItem('token', '{{ access_token }}');
        window.location.href = "/";
    </script>
    {% endif %}
</body>
</html>